<head>
    <link rel="stylesheet" href="../public/css/Home.css">
    <link rel="stylesheet" href="../public/css/uploadnotices.css">
    <link rel="stylesheet" href="../public/css/CircularHomeinterface.css">
    <link rel="stylesheet" href="../public/css/courseallotment.css">
    <link rel="stylesheet" href="../public/css/Notice.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/timetablemainpage.css">
</head>
<body>
<div id="headerforeverypage">
            <div class="uninamelogo">
                <div class="unilogo">
                    <a href=""> <img src="../public/images/Pantnagar_logo.jpg"
                            alt=""
                            class="unilogoImage">
                    </a>
                </div>
                <div class="universitynameandlogo">Govind Ballabh Pant
                    University of
                    Agriculture and Technology</div>
            </div>
            <div class="colgname">College of Technology</div>
            <div class="department">..Information Technology..</div>
        </div>  
        <div class="span">
            <span>
                <div class="navbar">
                    <div class="tabwithlogo">
                        <div class="homeimage">
                            <a href="index.hbs"><img
                                    src="../public/images/home.png"
                                    class="HomeLogoImage" alt=""></a>
                        </div>
                        <a href="home.html"> <button class="homebtn"
                                type="submit">Home</button></a>
                    </div>

                    <div class="tabwithlogo">
                        <div class="homeimage ">
                            <img src="../public/images/circular.png"
                                class="HomeLogoImage" alt="">
                        </div>
                        <button class="studentcorner" id="studentcornerbtn"
                            type="submit">Student Corner</button>
                    </div>
                    <!--<div class="tabwithlogo">
                        <div class="homeimage">
                            <a href="#"><img
                                    src="../Media/Images/coursemanagement.png"
                                    class="HomeLogoImage" alt=""></a>
                        </div>
                        <button class="studentdetail">Student Details</button>
                    </div>-->

                    <!-- <button class="Logout">Logout</button> -->
                </div>
            </span>
        </div>
        <ul id="dropdownitems" class="dropdown-content" style="display: none;">
            <li><a href="Notice.html">Notices</a></li>
            <li><a href="CircularHomeinterface.html"> Circulars</a></li>
            <li><a href="TimeTableMain.html">Time Table</a></li>
            <li><a href="CourseallotmentMain.html">Course Allotment</a></li>
        </ul>
    <div class="baseforeverypage">
        <div class="mainframe">
            <h3>External Circular Details </h3>
        <div class="uploadnotices">
        <form action="" method="post">
            <div class="subclass">
                <label for="">Heading/Topic</label>
                <input type="text" id="noticeheading" required>
            </div>
            <div class="subclass">
                <label for="">External Circular Notice:</label>
                <textarea name="" rows="20" id="textarea" required></textarea>
            </div>
            <div class="subclass">
                <label for="">Upload PDF file as Proof</label>
                <input type="file" id="file" required>
            </div>
            <div class="subclass">
                <label for="">Event is on :</label>
                <input type="date" name="" id="date" required>
            </div>
            <div class="subclass"></div>          
        </form>
        <button class="uploadsubmit">UPLOAD</button>
        </div>
        </div>
    </div>
     <footer id="footerforeverypage">
            footer Part for every pages is here | for further query please
            contact to administrator
        </footer>
    <script src="../public/js/script.js"></script>
</body>
</html>